<footer>
  <div id="author">
    <a href="https://github.com/Miguel0577">
      <img src="https://img.icons8.com/ios-glyphs/47/000000/github.png"/>
    </a>
    <a href="https://www.linkedin.com/in/miguelbuitrago/">
      <img src="https://img.icons8.com/metro/40/000000/linkedin.png"/>
    </a>
  </div>
</footer>