header{
  padding: 1vh;
  background-color: #222222;

  .row-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

}

.profile-log-button{
  width: 8vw;
  height: 5vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}
