#header{
  padding-top: 0px;
  margin-top: 0px;

  h1{
    color: #c2ab6c;
    font-size: 50px;
  }
  
  h2{
    color: #c2ab6c;
    padding-top: 20px;
    font-size: 45px;
  }

  .log-option{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
  }
} 
