#header{
  padding-top: 0px;
  margin-top: 0px;

  h1{
    color: #c2ab6c;
    font-size: 50px;
  }
  
  h2{
    color: #c2ab6c;
    padding-top: 2vw;
    font-size: 45px;
  }

  .log-option{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1vw;
  }
} 

#log-button{
  width: 10vw;
  height: 7vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}
