$font-new-color: #ffffff;
$font-color: #C0D2E5;

body{
  position: relative;
  padding-bottom: 70px;
  min-height: 100vh;

  .notice{
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .alert{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

main{
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  
  .show-users{
    h4{
      text-align: center;
    }
  }

  .label-tittle-article{
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .error-body-article{
    color: #ff0000;
  }

  .label-select-article{
    padding-bottom: 2vh;
  }
}

#new-button{
  width: 16vw;
  height: 8vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 10vw;
  padding-left: 2vw;
}

#card-articles{
  width: 45vw;
  margin-top: 2vw;
  margin-left: 10vw;
  background-color: #10183a;
  border: 10px;
  h5{
    font-size: 25px;
    color: #c2ab6c;
  }
}

#card-users{
  width: 25vw;
  margin-top: 2vw;
  margin-right: 10vw;
  background-color: #10183a;
  border-radius: 30px;
  h5{
    font-size: 25px;
    color: #c2ab6c;
  }
}